{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/pages/home.css' %}">
{% endblock %}

{% block content %}
<section class="hero-section">
    <div class="hero-container">
        <div class="title-badge">Ish uchun ochiq</div>
        <h1 class="hero-title">Sardor Rahmatullayev</h1>
        <p class="hero-subtitle">AI Software Engineer & SMM Manager</p>
        <p class="hero-about">
            Men shunchaki kod yozmayman, men sizning biznesingizni raqamli davr talablariga moslashtiraman. Sun'iy
            intellekt (AI) texnologiyalari, jarayonlarni to'liq avtomatlashtirish va eng qisqa muddatlarda tayyor
            mahsulotni yetkazib berish bo'yicha sizning ishonchli injiniring hamkoringizga aylanaman. Men bilan
            vaqtingizni tejang va samaradorlikni maksimal darajaga ko'taring.
        </p>
        <div class="hero-actions">
            <button>
                Loyihalarni ko'rish
            </button>

            <button>
                Bog'lanish
            </button>
        </div>
    </div>
</section>

<section class="about-me">
    <div class="about-container">
        <div>
            <h1 class="about-title">Men Haqimda</h1>
            <p class="about-subtitle">

                Men AI integratsiya qilish va to'liq vebsaytlar yaratishga qiziqqan Junior Dasturchiman. Korxona va
                brendlarni zamondan ortda qolmasligi uchun ai agentlar integratsiya qilisb yordamida
                raqobatbardoshligini taminlayman
            </p>
            <p class="about-subtitle">
                Python, FastAPI, Django va avtomatlashtirish yordamida veb ilovalar yaratib ularga agentlar va telegram
                botlar qo'shish yordamida biznesni avtomatlashtiraman.
            </p>
            <p class="about-subtitle">
                Frontend - ushbu yo'nalishda ReactJS va NextJS yordamida tez prototiplash yordamida foydalanuvchiga
                qulay bo'lgan ui/ux tajribalarini taqdim etaman
            </p>
        </div>
        <div>
            <div class="skill-card__about">
                <h3 class="skill-card-title__about">AI + Avtomatlashtirish</h3>
                <p class="skill-card-content__about">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, veritatis perspiciatis! Eveniet
                    quae libero molestiae.
                </p>
            </div>
            <div class="skill-card__about">
                <h3 class="skill-card-title__about">Veb Saytlar</h3>
                <p class="skill-card-content__about">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, veritatis perspiciatis! Eveniet
                    quae libero molestiae.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="skills-me">
    <h2>Ko'nikmalar</h2>
    <div class="skills-me-container">
        <div>
            sdf
        </div>
    </div>
</section>

{% endblock %}