.navbar {
    position: static;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 15px 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* padding: 20px 40px; */
}

.navbar-brand {
    color: #1a1a1a;
    font-size: 1rem;
    /* font-weight: 500; */
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

.navbar-menu li a,
.navbar-lang li a {
    font-size: 0.9rem;
    font-family: "Ubuntu";
    text-decoration: none;
    color: #1a1a1a;
    padding: 5px 15px;
}

.navbar-menu li a.active {
    color: #7d41e1;
    background-color: #f1f1f1;
    border-radius: 8px;
}

.navbar-menu li a:hover {
    color: #7d41e1;
}


.navbar-menu,
.navbar-lang {
    display: flex;
    row-gap: 10px;
    list-style-type: none;
    font-style: "Ubuntu", sans-serif;
}