{% load static %}

<link rel="stylesheet" href="{% static 'css/components/footer.css' %}">

<footer class="footer">
    <div class="footer-container">
        <div class="main-container">
            <div>
                <div class="footer-title">Sardor Rahmatullayev</div>
                <div class="footer-work">AI Software Engineer</div>
                <div class="footer-url">rahmatullayev.uz</div>
            </div>
            <div class="social-media">
                <a href="#"><i class="fa-brands fa-instagram" style="color: #E83855;"></i></a>
                <a href="#"><i class="fa-brands fa-github" style="color: #000000;"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin" style="color: #0077B5;"></i></a>
                <a href="#"><i class="fa-brands fa-telegram" style="color: #2AABEE;"></i></a>
            </div>
        </div>
    </div>
</footer>