{% load static %}

<link rel="stylesheet" href="{% static 'css/components/footer.css' %}" />

<footer class="footer">
  <div class="footer-container">
    <div class="main-container">
      <div>
        <div class="footer-title">Sardor Rahmatullayev</div>
        <div class="footer-work">AI Software Engineer</div>
        <div class="footer-url">rahmatullayev.uz</div>
      </div>
      <div class="social-media">
        <a href="#" title="Instagram"
          ><i class="fa-brands fa-instagram" style="color: #e83855"></i
        ></a>
        <a href="https://github.com/rahmatullayev-uz" title="GitHub"
          ><i class="fa-brands fa-github" style="color: #000000"></i
        ></a>
        <a href="https://linkedin.com/in/rahmatullayev-uz" title="LinkedIn"
          ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i
        ></a>
        <a href="https://t.me/rahmatullayev_uz" title="Telegram"
          ><i class="fa-brands fa-telegram" style="color: #2aabee"></i
        ></a>
      </div>
    </div>
  </div>
</footer>
