{% load static %}
<link rel="stylesheet" href="{% static './css/components/navbar.css' %}">

<nav class="navbar">
    <div class="navbar-container">
        <a href="" class="navbar-brand">Rahmatullayev.uz</a>
        <ul class="navbar-menu">
            <li><a href="">Home</a></li>
            <li><a href="">Projects</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <ul class="navbar-lang">
            <li><a href="">O'zb</a></li>
            <li><a href="">Eng</a></li>
            <li><a href="">Rus</a></li>
        </ul>
    </div>
</nav>